{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <!-- UIkit CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'uikit-3.15.19/css/uikit.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <!-- UIkit JS -->
    <script src="{% static 'uikit-3.15.19/js/uikit.min.js' %}"></script>
    <script src="{% static 'uikit-3.15.19/js/uikit-icons.min.js' %}"></script>

    <title>図書館にある？</title>
</head>
<body>
    <nav class="uk-navbar-container uk-padding-small" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav uk-margin-medium-left">
                <li>
                    Library Site
                </li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <label class="uk-form-label" for="form-horizontal-select">図書館選択</label>
            <div class="uk-form-controls uk-margin-medium-right">
                <select class="uk-select uk-form-width-medium" id="form-horizontal-select">
                    <option>XX市</option>
                </select>
            </div>
        </div>
    </nav>

    <div class="uk-container uk-container-small uk-margin-top">
        <table class="uk-table uk-table-divider">
            <colgroup>
                <col width="15%">
                <col width="40%">
                <col width="30%">
                <col width="15%">
            </colgroup>
            <tbody>
                <tr class="">
                    <td class="">
                        <!-- 画像 -->
                        {{result_sample1}}
                        <img src="sample.png" class="uk-height-small" alt="サンプル画像" align="top" >
                    </td>
                    <td class="">
                        <ul class="uk-list">
                            <li>書名</li>
                            <li>著者</li>
                            <li>値段(Kindle)</li>
                        </ul>
                    </td>
                    <td class="">
                        <span class="uk-label">貸出可</span>
                    </td>
                    <td class="">
                        <ul class="uk-list">
                            <li><a>kindle</a></li>
                            <li><a>honto</a></li>
                            <li><a>dmm</a></li>
                        </ul>
                    </td>
                </tr>
                <tr class="">
                    <td class="">
                        <!-- 画像 -->
                        <img src="sample.png" class="uk-height-small" alt="サンプル画像" align="top" >
                    </td>
                    <td class="">
                        <ul class="uk-list">
                            <li>書名</li>
                            <li>著者</li>
                            <li>値段(Kindle)</li>
                        </ul>
                    </td>
                    <td class="">
                        <span class="uk-label uk-label-warning">貸出中</span>
                    </td>
                    <td class="">
                        <ul class="uk-list">
                            <li><a>kindle</a></li>
                            <li><a>honto</a></li>
                            <li><a>dmm</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>